
/* Media queries 
–––––––––––––––––––––––––––––––––––––––––––––––––– */


@media screen and (max-width: $xLarge) {
	.grid {
	  grid-template-columns: repeat(6, 1fr);
	}
	#film-detail {
		padding-top: 38%;
	} 
}

@media screen and (max-width: $large) {
	.grid {
	  grid-template-columns: repeat(4, 1fr);
	} 
	#film-detail {
		padding-top: 38%;
	} 
	#details {
		margin-top: 5%;
	}
}

@media screen and (max-width: $medium) {
	#film-detail {
		padding-top: 44%;
	} 
	#details {
		margin-top: 14%;
	}

}

@media screen and (max-width: $small) {
	.grid {
	  grid-template-columns: repeat(2, 1fr);
	}
	#film-detail {
		padding-top: 44%;
	} 
	#details {
		margin-top: 12%;
		h1 {
			font-size: 150%;
		}
	}
	.image-container {
		width: 30%;
	}

}






/* Print Media queries 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.print-only {
  display: none;
}

@media print {
  .print-only {
    display: block;
  }
}
