
/* Media queries 
–––––––––––––––––––––––––––––––––––––––––––––––––– */


@media screen and (max-width: $xLarge) {
	.grid {
	  grid-template-columns: repeat(6, 1fr);
	}
	#film-detail {
		padding-top: 38%;
	} 
}

@media screen and (max-width: $large) {
	.grid {
	  grid-template-columns: repeat(4, 1fr);
	} 
	#film-detail {
		padding-top: 38%;
	} 
	#details {
		margin-top: 24%;
	}
}

@media screen and (max-width: $medium) {
	#film-detail {
		padding-top: 44%;
	} 
	#details {
		margin-top: 24%;
	}

}

@media screen and (max-width: $small) {
	.grid {
	  grid-template-columns: repeat(2, 1fr);
	}
	#film-detail {
		padding-top: 44%;
	} 
	#poster {
		width: 38%;
	}
	#details {
		h1 {
			font-size: 120%;
		}
	}


}






/* Print Media queries 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.print-only {
  display: none;
}

@media print {
  .print-only {
    display: block;
  }
}
